

<!-- h3> TODO :: Visual Contrast and shrink to fit on selections </h3 -->
<%# The below line was modified at the advise of ChatGPT 4o mini
The actual issue was having a space between `form_with` and the open parenthesis
Gotta love whitespace sensitive languages.
There do not seem to be any knock-on effects at this time though I will try to note them here in the future later. %>
<%= form_with(model: [@player, @round]) do |form| %> 
  <% if round.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- h3>TODO:: Iteration 2, Implement P5.js graphical inputs for target, called clutch decision, and final throw input.</h3 -->

  <div>
    <%= form.label :score_1, style: "display: block" %>
    <%= form.select :score_1, options_for_select(Round::VALID_NORMAL_THROWS), { prompt: "Select a Score" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :score_2, style: "display: block" %>
    <%= form.select :score_2, options_for_select(Round::VALID_NORMAL_THROWS), { prompt: "Select a Score" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :score_3, style: "display: block" %>
    <%= form.select :score_3, options_for_select(Round::VALID_NORMAL_THROWS), { prompt: "Select a Score" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :score_4, style: "display: block" %>
    <%= form.select :score_4, options_for_select(Round::VALID_NORMAL_THROWS), { prompt: "Select a Score" }, class: "form-control" %>
  </div>


  <div>
    <%= form.label :called_clutch, style: "display: block" %>
    <%= form.select :called_clutch, options_for_select(Round::BOOLEAN_STRINGS), { prompt: "Call it?" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :score_5, style: "display: block" %>
    <%= form.select :score_5, options_for_select(Round::ALL_VALID_THROWS), { prompt: "Select a Score" }, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Post Scores" %>
  </div>
<% end %>
