<div id="<%= dom_id round %>">
  <p>
    <strong>Player:</strong>
    <%= round.player_id %>
  </p>

  <p>
    <strong>Score 1:</strong>
    <%= round.score_1 %>
  </p>

  <p>
    <strong>Score 2:</strong>
    <%= round.score_2 %>
  </p>

  <p>
    <strong>Score 3:</strong>
    <%= round.score_3 %>
  </p>

  <p>
    <strong>Score 4:</strong>
    <%= round.score_4 %>
  </p>

  <p>
    <strong>Called clutch:</strong>
    <%= round.called_clutch %>
  </p>

  <p>
    <strong>Score 5:</strong>
    <%= round.score_5 %>
  </p>

</div>
