<div id="<%= dom_id player %>">

<br/><br/>
  <!--
  <h3> TODO :: Add a date column to the round table, useful for debugging and knowing when a round was </h3> <br/>
  <h3> TODO :: Investigate rendering the round table in reverse chronological order by default </h3> <br/>
  <h3> TODO :: Build hotkey to write tier three html header</h3> <br/>
  -->
 <%= render player %>

 <%= button_to "Start Practicing", new_player_round_path(@player), method: :get %>

  <% if @player_rounds != nil%>
    <% if @player_rounds.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Score 1</th>
            <th>Score 2</th>
            <th>Score 3</th>
            <th>Score 4</th>
            <th>Called?</th>
            <th>Score 5</th>
            <th>Change</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @player_rounds.each do |round| %>
            <tr>
              <td><%= round.score_1 %></td>
              <td><%= round.score_2 %></td>
              <td><%= round.score_3 %></td>
              <td><%= round.score_4 %></td>
              <td><%= round.called_clutch %></td>
              <td><%= round.score_5 %></td>
              <td><%= button_to "Edit", edit_player_round_path( :player_id => @player.id, :id => round.id )%></td>
              <td><%= button_to "Delete", player_round_path( :player_id => @player.id, :id => round.id ), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No rounds found for you yet. Start one with the button above!</p>
    <% end %>
  <% end %>
  <%= button_to(
        "Log Out",
        destroy_player_session_path,
        method: :delete
      ) %>
</div>
